#donations
  .row
    .col
      %h3 Donations

  .row
    .col
      %a.btn.btn-outline-primary{href: new_donation_path} Add a new donation

  .row
    .col-sm
      %table.table.table-striped
        %thead
          %tr
            %th Date
            %th Name
            %th Amount
            %th Account
            %th Tax Deductible
            %th Review
            %th

        %tbody
          - @donations.each do |donation|
            %tr
              %td= donation.date.strftime('%b %e %Y')
              %td= donation.donor.name
              %td{style: "font-family: 'JetBrains Mono';"}= number_to_currency(donation.amount)
              %td= donation.account
              %td
                - if donation.tax_deductible
                  %i.bi.bi-check
              %td
                - if donation.needs_review
                  %i.bi.bi-check
              %td{style: 'text-align: right'}
                %a.btn.btn-outline-primary.btn-sm{href: edit_donation_path(donation)} Edit