@font-face {
    font-family: 'JetBrains Mono';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/JetBrainsMono/JetBrainsMono-Regular.woff2") format("woff2"),
    url("/fonts/JetBrainsMono/JetBrainsMono-Regular.woff") format("woff");
}